<p>
	<strong>File: </strong>
	<%= query.file.attachment.filename %>
</p>
<p>
	<strong>Sample Field: </strong>
	<%= query.sample_field %>
</p>
<%= button_to 'Process again', user_query_path(current_user, query), method: :get %>
<br>