<h1>Query History</h1>

<br>

<% if current_user.queries.length == 0 %>
	No queries to show.
<% else %>
	<% current_user.queries.each do |query| %>
		<%= render query %>
		<%= button_to 'Process Again', user_query_path(current_user, query), method: :get %>
		<%= button_to 'Delete Query', [query.user, query], method: :delete, data: { confirm: 'Are you sure?' } %>
	<% end %>
<% end %>

<br>

<%= button_to 'Back', '/welcome', method: :get %>