<%= render '/sessions/navbar' %>

<div style="height: 150px; background: none"></div>

<%= render @query %>

<br>
<div class="query-output"><strong>Output: </strong> <%= @output %></div>

<br>

<%= link_to 'Back', '/welcome', class: 'back-btn' %>